kind: Service
apiVersion: v1
metadata:
  name: {{ kubernetes_jellyfin_service }}
  namespace: {{ kubernetes_jellyfin_namespace }}
spec:
{% if kubernetes_jellyfin_service_additional_specs %}
  {{ kubernetes_jellyfin_service_additional_specs | to_nice_yaml | indent(2) }}
{% endif %}
  selector:
    app: {{ kubernetes_jellyfin_app }}
  ports:
    - port: 80
      targetPort: http
